@charset "utf-8";

.container {
	height: auto;
	width: 1280px;
	margin-top: -7px;
}
.top_menu {
	height: 50px;
	width: auto;
	background-color: #F8F8F8;
	padding-left: 50px;
}

.topmenu_section {
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	color: #333333;
	text-align: left;
	float: left;
	margin-top: 18.5px;
	padding-right: 85px;
}
.topmenudetails_arrrangement {
	padding-left: 40px;
}
.topmenu_whatsappimg {
	float: left;
	padding-top: 10px;
}
.topmenu_country {
	float: left;
	padding-left: 70px;
	padding-top: 10px;
}


.topmenu_needforhelp {
	padding-left: 330px;
}
.top_menu_linkcolor {
	color: #333333;
}


.submenu_section {
	background-color: #FEF7CF;
	float: left;
	width: 1280px;
	text-align: left;
	vertical-align: middle;
	padding-top: 50px;
	height: 50px;
	margin-top: -5px;
}
.submenulogo_alignment {
	padding-left: 50px;
	float: left;
}


.nav_menu {
	float: left;
	vertical-align: bottom;
	padding-left: 155px;
}
.cart {
	float: left;
	margin-left: 20px;
}

.menu_arrangement {
	float: left;
	font-weight: normal;
}
.navmenu_alignment {
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #384a62;
	margin-right: 15px;
	margin-left: 15px;
}
.menu_linkcolor {
	color: #384a62;
}

.signup {
	float: left;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	margin-left: 30px;
	color: #384a62;
	background-color: #FFF;
}

.createaccount {
	font-weight: bold;
	float: left;
	margin-left: 20px;
	font-family: Arial;
	font-size: 14px;
	color: #384A61;
}



.pagebanner {
	height: 500px;
	width: 1280px;
	float: left;
}
.popular_product_section {
	width: 1280px;
	float: left;
}


.popularproduct_title {
	font-family: Impact;
	font-size: 30px;
	margin-bottom: 30px;
	padding-left: 50px;
	width: 1180px;
	float: left;
	text-align: left;
	padding-top: 50px;
}
.popular_categories {
	font-family: Impact;
	font-size: 30px;
	padding-left: 50px;
	margin-bottom: 30px;
	padding-top: 50px;
	width: 1180px;
	float: left;
	text-align: left;
}

.see_all_categories {
	font-family: Calibri;
	font-size: 20px;
	text-transform: capitalize;
	color: #000000;
	float: right;
	font-weight: bold;
}


.popular_product_2ndsection {
	float: left;
	height: auto;
	width: 1280px;
	padding-top: 30px;
	padding-bottom: 50px;
}
.popular_product_3rdsection {
	float: left;
	width: 1280px;
	padding-top: 30px;
}
.popular_product_content_holder {
	float: left;
	margin-left: 50px;
	width: 1180px;
}
.popular_product_content {
	width: 270px;
	float: left;
	margin-right: 30px;
	height: 424px;
	border: 1px solid #DADADA;
	text-align: left;
}
.popular_product_content_4 {
	float: right;
	height: 424px;
	width: 270px;
	border: 1px solid #DADADA;
	text-align: left;
}
.content_title {
	font-family: Calibri;
	font-size: 20px;
	font-weight: bold;
	text-transform: capitalize;
	padding-top: 10px;
	padding-left: 20px;
}
.starting_at {
	font-family: Calibri;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	color: #676767;
	padding-left: 20px;
	padding-top: 20px;
}
.price {
	font-size: 20px;
	color: #FFDE46;
	padding-left: 20px;
	font-weight: bold;
	padding-top: 10px;
}
.per_amount {
	font-family: Calibri;
	font-size: 15px;
	font-weight: bold;
	color: #676767;
}
.find_out_more {
	font-family: Arial;
	font-size: 15px;
	color: #000;
	background-color: #FEF7CF;
	padding-right: 20px;
	margin-top: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	font-weight: bold;
	text-align: left;
	padding-left: 60px;
}
.black_linkcolor {
	color: #000;
}


.Nigeriano1_print_shop_title {
	font-family: "Californian FB";
	font-size: 35px;
	color: #4D4D4D;
	padding-left: 50px;
	margin-top: 100px;
	float: left;
	font-weight: bold;
	width: 1230px;
	padding-bottom: 50px;
	text-align: left;
}
.nigeriano1print_content {
	font-family: Calibri;
	font-size: 23px;
	font-weight: bold;
	width: 1230px;
	float: left;
	color: #4D4D4D;
	word-spacing: 1px;
	padding-bottom: 40px;
	padding-top: 5px;
	text-align: left;
}
.read_more_article_linkcolor {
	color: #506683;
	text-decoration: underline;
}
.reviews {
	background-color: #FEF7CF;
	float: left;
	width: 1280px;
	padding-bottom: 50px;
}
.reviews_holder {
	height: 180px;
	padding-top: 50px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 50px;
}
.reviews_title {
	font-family: Impact;
	font-size: 30px;
	text-align: left;
	padding-bottom: 30px;
}
.reviews_contents {
	height: 138px;
	width: 370px;
	margin-right: 31px;
	background-color: #FFF;
	border: 1px solid #EEEEEE;
	text-align: left;
	padding-top: 20px;
	float: left;
}
.reviews_text {
	font-family: Arial;
	font-size: 15px;
	float: right;
	margin-right: 20px;
	width: 290px;
	padding-top: 5px;
	text-align: left;
	line-height: 18px;
}


.reviews_contents3 {
	float: right;
	width: 370px;
	background-color: #FFF;
	height: 138px;
	border: 1px solid #EEEEEE;
	padding-top: 20px;
}

.trust {
	width: 1280px;
	border: 1px solid #FFF;
	text-align: left;
	float: left;
}

.trust_title {
	font-family: Impact;
	font-size: 30px;
	text-align: left;
}
.trust_holder {
	height: 180px;
	padding-top: 100px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
}


.trust_text {
	font-family: Arial;
	font-size: 15px;
	line-height: 20px;
	float: right;
	margin-right: 20px;
	text-align: left;
	width: 270px;
}
.text {
	font-family: Arial;
	font-size: 15px;
	color: #555;
	padding-top: 5px;
}

.trust_contents {
	float: left;
	height: 138px;
	width: 370px;
	padding-top: 20px;
	margin-right: 31px;
}
.trust_contents3 {
	float: right;
	height: 138px;
	width: 370px;
	padding-top: 20px;
}
.partners {
	background-color: #E7EBEF;
	float: left;
	width: 1280px;
}




.partner_holder {
	padding: 50px;
	height: 180px;
}
.partners_title {
	font-family: Impact;
	font-size: 30px;
	text-align: left;
}

.partners_contents {
	float: left;
	height: 60px;
	width: 225px;
	text-align: left;
	margin-top: 30px;
}
.partner_content1 {
	text-align: left;
	float: left;
	height: 60px;
	width: 225px;
	margin-right: 40px;
	margin-top: 30px;
}


.partners_contents5 {
	float: right;
	height: 60px;
	width: 225px;
	text-align: left;
	margin-top: 30px;
}

.footer {
	text-align: left;
	width: 1280px;
	background-color: #333;
	float: left;
	margin-bottom: 50px;
	color: #FFF;
}

.footer_holder {
	float: left;
	padding-top: 50px;
	padding-right: 50px;
	padding-left: 50px;
}


.footer_content {
	sfloat: left;
	height: 285px;
	width: 285px;
	margin-right: 10px;
	font-family: Arial;
	color: #FFF;
	text-align: left;
	float: left;
}
.footer_title {
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
	text-align: left;
}
.footer_content_details {
	font-family: Arial;
	font-size: 14px;
	text-align: left;
	color: #FFF;
	margin-top: 30px;
	line-height: 30px;
}
.footer_content4 {
	text-align: left;
	float: right;
	height: 285px;
	width: 285px;
	font-family: Arial;
	font-size: 18px;
}
.footer_link_color {
	color: #FFF;
}

.copyright {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFDE48;
	font-family: Arial;
	font-size: 13px;
	color: #FFF;
	float: left;
	width: 1230px;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}
